body{
    background-image:url("6500ca.png");
    background-repeat: repeat;
    background-size: contain;
    background-position: center center;
    background-attachment: fixed;
    margin: auto;
    padding: 10;
    width: 100%;
}

header{
    background-color: #b30000;
    text-align: center;
    color: orange;
    padding: 0 20pX 0 20px;
    border: 10px double orange;
    font-weight: bold;
    margin-top:  0.625em;
    margin-bottom: 0.625em;
    margin-left: 0.625em;
    margin-right: 0.625em;
    font-family: Abeezee;
}

nav{
    background-color: #b30000;
    padding: 2px 2px 2px 2px;
    margin-top: 10px;
    margin-bottom: 10px;
}

nav nav{
    background-color: orange;
    padding: 0 20pX 0 20px;
    border: 10px double #6600cc;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    color: #6600cc;
    font-size: 20px;
    font-weight: bold;
}

section p{
    font-family: Cookie;
    font-size: 30px;
    color: orange;
}

section{
    background-color: #b30000;
    text-align: center;
    padding: 0 20pX 0 20px;
    border: 10px double orange;
    margin-top:  0.625em;
    margin-bottom: 0.625em;
    margin-left: 0.625em;
    margin-right: 0.625em;
}

ul {
    margin: 0;
  }
  ul.dashed {
    list-style-type: none;
  }
  ul.dashed > li {
    text-indent: -5px;
  }
  ul.dashed > li:before {
    content: "-";
    text-indent: -5px;
  }

aside aside{
    background-color: #6600cc;
    text-align: center;
}

aside a{
    letter-spacing: .05em;
    word-spacing: .1em;
}

aside img{
    background-color: #b30000;
    text-align: center;
    color: orange;
    border: 10px double orange;
    font-weight: bold;
    margin-left: 0.625em;
    margin-right: 0.625em;
    margin-top: 0.625em;
    margin-bottom: 0.625em;
}

section a{
    color:rgb(206, 135, 4);
    text-decoration: none;
}

li a{
    color:#af62fc;
    text-decoration: none;
}

header h1{
    text-shadow: 10px 10px 2px rgb(206, 135, 4);
}