header{
    border: 5px solid #0da3e4;
    text-align: center;
    background-color: #2cbcfa;
}

#contact{
    text-align: center;
    color: black;
    font-size: 20px;
    background-color: #31d6f3
}

body{
    background-color: #0da3e4
}

#Me,footer,.works{

    color: black;
    background-color: #31d6f3
}

#PME,footer,.works{
    text-align: center;

}

.bg-primary{
    color:black;
}

.ToggleMe{
    display: none;
}
